/* Definição das variáveis de cores (Paleta de Outono) */
:root {
  --verde: #384001;
  --laranja: #E86433;
  --amarelo: #ece9ce;
  --marrom: #5B1A04;
  --vermelho: #E84131;
  --branco: #fff;
  --preto: #1C1C1C;
  --fundo1: #fee6c1;
  --certos: #10B981;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fundo1);
  color: var(--branco);
  line-height: 1.6;
  margin: 0;

}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: center;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--verde);
  margin-bottom: 1rem;
}

h1 {
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: var(--verde);
}

h4 {
  color: var(--amarelo);
}

/* Header & Navegação */
.header {
  background-color: var(--laranja);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  justify-content: space-between;
  display: flex;
  width: 14%;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  margin: auto;
}


.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--branco);
  font-weight: bold;
  font-size: 1.5rem;
}


.logo-icon {
  font-size: 2rem;
  color: var(--laranja);
  margin-right: 10px;
}


.nav-menu {
  display: flex;
  gap: 30px;
}


.nav-link {
  text-decoration: none;
  color: var(--branco);
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}


.nav-link:hover {
  color: var(--la);
  border-bottom-color: var(--laranja);
}


/* Botões */
.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}


.btn-carrinho {
  background-color: var(--laranja);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}


.btn-carrinho:hover {
  background-color: var(--vermelho);
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--laranja);
  color: var(--branco);
}

.btn-primary:hover {
  background-color: var(--vermelho);
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: var(--laranja);
  color: var(--amarelo);
}

.btn-secondary:hover {
  background-color: #4a5301;
}

label {
  color: var(--marrom);
}

.bemVindo {
  background: var(--fundo1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  height: 20vw;

  background: var(--marrom);
}


/* Seção Hero */
.hero {
  padding-top: 160px;
  padding-bottom: 80px;
  min-height: 80vh;
}


.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}


.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
}


.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}




.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 0px var(--primary-orange);
}




/* Seção Sobre */
.about-section {
  padding: 80px 0;
  background-color: var(--branco);
}


.about-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 3rem;
  align-items: center;
}


.about-image img {
  max-width: 100%;
  border-radius: 15px;
}

/* Footer */
.footer {
  background-color: var(--marrom);
  color: var(--branco);
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

/* Agrupamento principal */
.footer-content {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  justify-content: space-between;
  background: var(--marrom);
}

/* Logo */
.footer-logo img {
  width: 10px;
  height: 10px;
  /* ajuste como quiser */
}

.footer p {
  opacity: 0.8;
}


.ceep {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: grid;
}

.ceep p {
  text-align: center;
  width: 50%;
}

.img-ceep {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Linha inferior */
.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 248, 225, 0.2);
}

/* Responsivo */
@media (max-width: 600px) {
  .footer-colunas {
    flex-direction: column;
    /* colunas embaixo uma da outra */
    gap: 2rem;
  }
}

/* Ícone do Carrinho no Header */
.cart-icon {
  position: relative;
  font-size: 1.5rem;
  color: var(--marrom);
  text-decoration: none;
}


.cart-item-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: var(--vermelho);
  color: var(--branco);
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Página do Carrinho e Checkout */
.cart-page,
.checkout-page {
  padding-top: 120px;
  padding-bottom: 80px;
  min-height: 80vh;
}


.cart-layout,
.checkout-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  color: black;
}


.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.cart-item {
  display: flex;
  gap: 1.5rem;
  background: var(--branco);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}


.cart-item-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}


.cart-item-details {
  flex-grow: 1;
}


.cart-item-details h3 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}


.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}


.quantity-control input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}


.remove-item-btn {
  background: none;
  border: none;
  color: var(--vermelho);
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: auto;
}


.empty-cart-message {
  padding: 2rem;
  text-align: center;
  background: var(--branco);
  border-radius: 10px;
}


/* Resumo do Carrinho e Checkout */
.cart-summary,
.order-summary-checkout {
  background: var(--branco);
  color: var(--verde);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  height: fit-content;
}


.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.summary-row.total {
  font-weight: bold;
  font-size: 1.2rem;
}


.checkout-btn {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}


/* Página de Checkout */
.checkout-section {
  background: var(--branco);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  margin-bottom: 2rem;
}


.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}


.checkout-form input {
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--verde);
}




#token-input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--verde);
}

.payment-options {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}


.payment-option {
  flex: 1;
  border: 1px solid var(--marrom);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--marrom);
}


.payment-option:hover,
.payment-option.selected {
  border-color: var(--laranja);
  box-shadow: 0 0 10px rgba(232, 100, 51, 0.3);
  color: var(--laranja);
}


.payment-option i {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}


#payment-details {
  margin-top: 1.5rem;
}


.summary-item-checkout {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


.summary-item-checkout img {
  width: 50px;
  border-radius: 5px;
}


/* Página de Sucesso */
#confetti-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}


.success-box {
  background-color: var(--laranja);
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


.success-box h1 {
  color: var(--verde);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}


.success-box p {
  font-size: 1.1rem;
  color: var(--preto);
  margin-bottom: 2rem;
}


.success-box .btn {
  margin-top: 1rem;
}


/* Estilos para Caixinhas de Aviso */
.toast-notification {
  position: fixed;
  top: 40px;
  right: 20px;
  color: var(--branco);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(8, 144, 6, 0.2);
  z-index: 2000;
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  background: var(--verde);
}


.toast-notification.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

#toast-message {
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
  z-index: 3000;
  margin: 0;
  line-height: 1.4;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}


.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}


.modal-content {
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 450px;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s;
}


.modal-overlay.show .modal-content {
  transform: scale(1);
}


.modal-content h2 {
  margin-top: 0;
  color: var(--marrom);
}


.modal-content p {
  margin-bottom: 2rem;
}


.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.modal-actions .btn {
  padding-left: 30px;
  padding-right: 30px;
}


.modal-actions .btn-secondary {
  background-color: var(--laranja);
  color: #333;
}


.modal-actions .btn-secondary:hover {
  background-color: var(--vermelho);
}




/* Responsividade */
@media (max-width: 992px) {


  .cart-layout,
  .checkout-layout {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }




  .nav-menu {
    margin-top: 15px;
  }




  .hero {
    padding-top: 200px;
  }




  .hero-content,
  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }




  .hero-image {
    margin-top: 2rem;
  }




  .about-image {
    order: -1;
  }




  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}


#mensagem-login,
#mensagem-registro {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  display: none;
}


#mensagem-login.sucesso,
#mensagem-registro.sucesso {
  background-color: #d4edda;
  color: #155724;
}


#mensagem-login.erro,
#mensagem-registro.erro {
  background-color: #f8d7da;
  color: #721c24;
}

/* Estilo do pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}


.popup-conteudo {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  animation: zoomIn 0.3s ease;
  border-collapse: separate;
  border-spacing: 0 12px;
}


.products-section {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

/* GRID que organiza os cards */
.tabela-produtos-corpo {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  /* Espaço REAL entre os cards */
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}

/* Remove visual da tabela padrão */
.tabela-produtos thead {
  display: none;
}

/* Cada linha vira um CARD */
.tabela-produtos tbody tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--branco);
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
  width: 100%;
  max-width: 300px;
  height: 90%;
  max-height: 600px;
  /* Espaço entre os cards */
  margin: 0 auto;
  /* Centraliza */
}

/* Hover card */
.tabela-produtos tbody tr:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* CÉLULAS DO CARD */
.tabela-produtos td {
  display: block;
  text-align: center;
  margin: 8px 8px;
  overflow: hidden;
}

/* Ajustes de proporção por coluna */
table tr td:nth-child(1) img {
  width: 180px;
  height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

table tr td:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--marrom);
  height: 10%;
}

table tr td:nth-child(3) {
  color: var(--marrom);
  text-align: center;
  height: 30%;
}

table tr td:nth-child(4) {
  font-size: 1.3rem;
  color: var(--verde);
  font-weight: bold;
  height: 10%;
}

table tr td:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.campo-busca {
  width: 50%;
  padding: 12px;
  border: 1px solid var(--verde);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 10px 25%;


}






/* BOTÃO DO CARRINHO */
.btn-carrinho {
  background-color: var(--laranja);
  color: var(--verde);
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

#confirmation-modal {
  display: none;
}


.btn-carrinho:hover {
  background-color: var(--vermelho);
  transform: scale(1.05);
}




/* Mobile */
@media (max-width: 768px) {
  .tabela-produtos-corpo {
    grid-template-columns: 1fr;
  }
}


.whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25D366;
  color: white;
  padding: 12px 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  z-index: 99999;
  transition: .3s;

}

.whatsapp-button .fab {
  font-size: 22px;
}

.text-whatsapp {

  white-space: nowrap;
  transition: .3s;
}

/* 1. MUDANÇA PRINCIPAL NO CONTAINER: Aumenta a largura para caber 4 cards */
.carousel-container {
  position: relative;
  max-width: 1200px;
  /* Largura suficiente para 4 cards (ajuste conforme sua tela) */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* 2. MUDANÇA PRINCIPAL NO CARD: Ocupa apenas 25% da largura do wrapper (100% / 4) */
.local-card {
  min-width: 25%;
  box-sizing: border-box;
  padding: 10px;
  /* Adiciona um padding para separação visual */
  flex-shrink: 0;
  text-align: center;
}

.local-card-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.local-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 10px;
  text-align: left;
}

.info h3 {
  margin-top: 0;
  color: #0056b3;
  font-size: 1.1em;
  height: 2.2em;
  /* Altura fixa para evitar desalinhamento */
  overflow: hidden;
}

.info p {
  margin: 3px 0;
  font-size: 0.8em;
  color: #555;
}

.info .telefone {
  font-weight: bold;
  color: #333;
}

/* Botões de Navegação */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.link-mapa {
  display: block;
  margin: 10px 0 0 0;
  padding: 8px 10px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s;
  font-size: 0.8em;
}

.link-mapa:hover {
  background-color: #218838;
}

/* Responsividade para telas menores */
@media (max-width: 900px) {
  .local-card {
    min-width: 33.33%;
  }

  /* 3 por vez */
}

@media (max-width: 600px) {
  .local-card {
    min-width: 50%;
  }

  /* 2 por vez */
}

html,
body {
  overflow-x: hidden !important;
}

.parceria {

  margin-left: 7vw;
  margin-right: 7vw;
  align-items: center;
}

.parceria p {
font-size: 1.5rem;
text-align: center;
}