<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <h4>Aki Empresa</h4>
                <p>Telefone: (44) 99813-5592</p>
                <p>Email: contato@akicoop.com.br</p>
            </div>
            <div class="ceep">
                <p>Sistema desenvolvido pelos alunos do CEEP Maringá.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Aki Produtos Eletrônicos. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
